
<div class="col col-12  col-md-8 col-lg-9">
  <!-- <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="deliveryJob" role="tabpanel" aria-labelledby="deliveryJob-tab">...</div>
    <div class="tab-pane fade" id="userAccount" role="tabpanel" aria-labelledby="userAccount-tab">...</div>
    <div class="tab-pane fade show" id="pricing" role="tabpanel" aria-labelledby="pricing-tab">
      <div class="tabContent-main pricing-main px-md-3 px-lg-5">
        <h5 class="admin-heading">Delivery Pricing</h5>
        <div class="pricing-inner px-3 px-lg-5">
          <div class="row">
            <div class="col col-12 col-lg-9 offset-lg-1">
              <div class="row pricing-detail align-items-center">
                <div class="col col-12 col-md-4">
                  <h5 class="admin-heading mb-3 mb-md-0">Van</h5>
                </div>
                <div class="col col-6 col-md-4">
                  <span class="pricing-text w-100-m">Base Rate</span>
                </div>
                <div class="col col-6 col-md-4">
                  <span class="pricing-text w-100-m">$ per km</span>
                </div>
              </div>
              <div class="row pricing-detail align-items-center">
                <div class="col col-12 col-md-4">
                  <h5 class="admin-heading mb-3 mb-md-0">Car</h5>
                </div>
                <div class="col col-6 col-md-4">
                  <span class="pricing-text w-100-m">Base Rate</span>
                </div>
                <div class="col col-6 col-md-4">
                  <span class="pricing-text w-100-m">$ per km</span>
                </div>
              </div>
              <div class="row pricing-detail align-items-center">
                <div class="col col-12 col-md-4">
                  <h5 class="admin-heading mb-3 mb-md-0">Priority</h5>
                </div>
                <div class="col col-6 col-md-4">
                  <span class="pricing-text w-100-m">Base Rate</span>
                </div>
                <div class="col col-6 col-md-4">
                  <span class="pricing-text w-100-m">$ per km</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-btn-block row d-flex justify-content-end px-3 px-lg-5 mt-2 mt-md-4">
          <div class="col col-sm-3 col-md-4 col-lg-4 col-xl-3">
            <button class="btn btn-green btn-lightGreen btn-l w-100" type="button">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="queryData" role="tabpanel" aria-labelledby="queryData-tab">...</div>
  </div> -->
  <div class="dashboard-content">
    <div class="tabContent-main dashboard-main px-md-3 px-lg-5">
      <div class="row">
        <div class="col col-12 col-lg-10 offset-lg-2">
          <div class="row dashboard-row">
            <div class="col col-6">
              <div class="dashboard-text d-inline-block">
                <h5 class="dashboard-heading">Active jobs</h5>
                <h5 class="dashboard-ans"><%= @deliveries %></h5>
              </div>
            </div>
          </div>
          <div class="row dashboard-row">
            <div class="col col-6">
              <div class="dashboard-text d-inline-block">
                <h5 class="dashboard-heading">Active users</h5>
                <h5 class="dashboard-ans"><%= @users %></h5>
              </div>
            </div>
            <div class="col col-6">
              <div class="dashboard-text d-inline-block">
                <h5 class="dashboard-heading">Web app status</h5>
                <h5 class="dashboard-ans">normal</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>