<!DOCTYPE html>
<html>
	<head>
		<title>Island Dropper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag "bootstrap.min.css" %>
		<%= stylesheet_link_tag "style.css" %>
	</head>
	<body>

		<div class="off-canvas-container">
			<div class="container">
				<div class="page-notFound d-flex align-items-center justify-content-center">
					<div class="notFound-detail text-center">
						<!-- <a href="#" class="notFound-logo d-inline-block"><img src="images/logo.png" alt="IMG" width="146"></a> -->
						<h1>404</h1>
						<h2>Page Not Found</h2>
						<p>The page you're looking for doesn't exist or either you do not have permission to access this</p>
						<a href="<%= root_url %>" class="back-home d-inline-block">Back to home page</a>
					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<%= javascript_include_tag "bootstrap.bundle.min.js"%>
	</body>
</html>