<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-md-7">
          <ul class="footer-menu d-flex align-items-center flex-wrap">
            <li><a href="#" class="d-inline-block mr-5">About Us</a></li>
            <li><a href="#" class="d-inline-block mr-5">Blog</a></li>
            <li><a href="#" class="d-inline-block mr-5">Support</a></li>
            <li><a href="#" class="d-inline-block mr-5">Contact</a></li>
            <li><a href="#" class="d-inline-block mr-5">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col col-12 col-md-5 text-md-right">
          <p class="footer-copyRight mt-3 mt-md-0">Copyright 2018 Island Dropper. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-chat text-right">
    <div class="container">
      <button class="btn btn-liveChat"><img src="images/chat-icon.png" width="20" class="mr-1" alt="chat-IMG"> Live Chat</button>
    </div>
  </div>
</footer>