
<div class="off-canvas">
<div class="login-canvas emailConfirmation-canvas">
	<div class="container">
		<div class="row emailConfirmation-content align-items-center">
			<div class="col col-12 col-md-5 col-lg-4 text-md-right">
				<div class="emailConfirmation-logo px-md-5 py-md-5 position-relative d-flex align-items-center justify-content-md-end">
					<a class="navbar-brand p-0" href="#">
						<%= image_tag "logo.png", width: '200', alt: 'logo-IMG' %>
					</a>
				</div>
			</div>
			<div class="col col-12 col-md-7 col-lg-7">
				<div class="emailConfirmation-detail px-md-4 pt-5 pb-4">
					<h5 class="admin-heading mb-4 pb-2">Check your e-mail</h5>
					<p class="mb-3">We have sent a message to <%=session[:email] %>, Open it up and click Activate Accout. We will take it from there!</p>
					 <p class="mb-0">
   				 <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "emailConfirm-link" %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
